<h2>@{ViewBag.Title = "Contact Us";}</h2>
<form method="post">
    <label>Username:</label>
    <br />
    <input />
    <br />
    <label>Subject:</label>
    <br />
    <input />
    <br />
    <label>Email:</label>
    <br />
    <input type="email" />
    <br />
    <label>Message:</label>
    <br />
    <textarea rows="4"></textarea>
    <br />
    <input type="submit" value="Send Mesage" />
</form>